In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
#First we will read the file
df=pd.read_csv("global_temp.csv")

In [16]:
#On checking, we can see the spacings in column names so we will remove it first
df.columns = df.columns.str.strip()
df.columns

Index(['Date', 'Temperature_Anomaly', 'Source/Notes'], dtype='object')

In [17]:
#We will now check the number of entrees in each column
print(df.count())

#now, we will check if there are any duplicates, if any it will remove them
df=df.drop_duplicates()
print(df.count())

Date                   1706
Temperature_Anomaly    1671
Source/Notes             77
dtype: int64
Date                   1700
Temperature_Anomaly    1665
Source/Notes             77
dtype: int64

In [18]:
# df['Date'] = (df['Date'].astype(str).str.replace(r'\s+', ' ', regex=True).str.strip())

#Apr-50
df['Date']=df['Date'].str.replace(r'([A-Za-z]{3})-(\d{2})$' ,r'\1-19\2', regex= True)
#Apr-50
df['Date']=df['Date'].str.replace(r'([A-Za-z]{3}) (\d{2})$' ,r'\1-19\2', regex= True)
#25-Apr
df['Date']=df['Date'].str.replace(r'(\d{2})-([A-Za-z]{3})$' ,r'\2-19\1', regex= True)
#25 Apr
df['Date']=df['Date'].str.replace(r'(\d{2}) ([A-Za-z]{3})$' ,r'\2-19\1', regex= True)


df['Date'] = (df['Date'].astype(str).str.strip())

df['Date'] = pd.to_datetime(df['Date'],errors='coerce',format='mixed',dayfirst=False)

df['Date'] = df['Date'].dt.strftime('%Y-%m-%d')
print(df['Date'].dtype)

object

In [24]:
type(df['Date'].iloc[1698])
df['Date'].iloc[1698]

'1925-10-01'

In [19]:
#Handling the Anomalies of the 
df['Temperature_Anomaly']=df['Temperature_Anomaly'].astype(str).str.strip()
df['Temperature_Anomaly']=df['Temperature_Anomaly'].str.replace(r"[,]", ".", regex=True)
df['Temperature_Anomaly']=df['Temperature_Anomaly'].str.replace(r"[^\d.-]", "", regex=True)
df['Temperature_Anomaly'].iloc[10]

#Now, we will convert it into float as they are in string format
print(type(df['Temperature_Anomaly'].iloc[1]))

#For converting to float we will use pandas function and we are using erros='coerce' as there are missing values present 
df['Temperature_Anomaly']= pd.to_numeric(df['Temperature_Anomaly'], errors='coerce')
print(df['Temperature_Anomaly'].dtype)

# print(type(df['Temperature_Anomaly'].iloc[1]))

<class 'str'>
float64

In [20]:
#checking the progress
filename='1.csv'
df.to_csv(filename, index=False)

In [ ]:
df['Temperature_Anomaly'].describe()

In [ ]:
Q1=df['Temperature_Anomaly'].quantile(0.25)
Q3=df['Temperature_Anomaly'].quantile(0.75)
IQR= Q3-Q1

In [ ]:
lower_limit=Q1-1.5*IQR
upper_limit=Q3+1.5*IQR

In [ ]:
# #YYYYMM
# df['Date']= df['Date'].str.replace(r'^(\d{4})(\d{2})$',r'\1-\2-01', regex=True)

# #YYYY/MM
# df['Date']= df['Date'].str.replace(r'^(\d{4})/(\d{2})$',r'\1-\2-01', regex=True)

# #YYYY.MM
# df['Date']= df['Date'].str.replace(r'^(\d{4}).(\d{2})$',r'\1-\2-01', regex=True)

# #YYYY-MM
# df['Date']= df['Date'].str.replace(r'^(\d{4})-(\d{2})$',r'\1-\2-01', regex=True)

# #MM/YYYY
# df['Date']= df['Date'].str.replace(r'^(\d{2})/(\d{4})$',r'\2-\1-01', regex=True)

# #MM-YYYY
# df['Date']= df['Date'].str.replace(r'^(\d{2})-(\d{4})$',r'\2-\1-01', regex=True)

# #MM.YYYY
# df['Date']= df['Date'].str.replace(r'^(\d{2}).(\d{4})$',r'\2-\1-01', regex=True)

# #MM/DD/YYYY
# df['Date']= df['Date'].str.replace(r'^(\d{2})/(\d{2})/(\d{4})$',r'\3-\1-\2', regex=True)

# #M/D/YY
# df['Date']= df['Date'].str.replace(r'^(\d{1})/(\d{1})/(\d{2})$',r'19\3-0\1-0\2', regex=True)
# #M/D/YYYY
# df['Date']= df['Date'].str.replace(r'^(\d{1})/(\d{1})/(\d{4})$',r'\3-0\1-0\2', regex=True)
# #M/DD/YYYY
# df['Date']= df['Date'].str.replace(r'^(\d{1})/(\d{2})/(\d{4})$',r'\3-0\1-\2', regex=True)
# #MM/D/YYYY
# df['Date']= df['Date'].str.replace(r'^(\d{2})/(\d{1})/(\d{4})$',r'\3-\1-0\2', regex=True)



# #Apr-50
# df['Date']=df['Date'].str.replace(r'([A-Za-z]{3})-(\d{2})$' ,r'\1-19\2', regex= True)
# #Jun 1880
# df['Date']=df['Date'].str.replace(r'([A-Za-z]{3}) (\d{4})$' ,r'\1-\2', regex= True)


# # 1953 Apr
# df['Date']=df['Date'].str.replace(r'(\d{4}) ([A-Za-z]{3})$' ,r'\2-\1', regex= True)


# df['Date']